/* ==========================================
   ÁREA DE LOGIN
   ========================================== */

.login-area {
  display: flex;
  flex-direction: column;

  gap: 15px;

  background: rgba(12, 31, 74, 0.5);

  border: 1px solid #2a4b8d;

  border-radius: 12px;

  padding: 20px;
}

.login-area input {
  padding: 14px;

  border: none;
  border-radius: 10px;
}

.btn-entrar {
  padding: 14px;

  border: none;
  border-radius: 10px;

  background: #ffd700;

  color: black;

  font-weight: bold;

  cursor: pointer;
}
