@import url(/assets/css/pages/multiplayer/partials/animacoes.css);
@import url(/assets/css/pages/multiplayer/partials/area_de_login.css);
@import url(/assets/css/pages/multiplayer/partials/area_do_quiz.css);
@import url(/assets/css/pages/multiplayer/partials/estrutura_principal.css);
@import url(/assets/css/pages/multiplayer/partials/feedback_de_respostas.css);
@import url(/assets/css/pages/multiplayer/partials/header.css);
@import url(/assets/css/pages/multiplayer/partials/hud_do_jogo.css);
@import url(/assets/css/pages/multiplayer/partials/perguntas_e_respostas.css);
@import url(/assets/css/pages/multiplayer/partials/progresso_quiz.css);
@import url(/assets/css/pages/multiplayer/partials/ranking.css);
@import url(/assets/css/pages/multiplayer/partials/sistema_de_vidas.css);

@import url(/assets/css/global/global.css);

/* ==========================================
   RESET E CONFIGURAÇÕES GERAIS
   ========================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background: radial-gradient(circle, #106ecc 0%, #010f22 100%);

  color: white;

  font-family: Arial, Helvetica, sans-serif;

  padding: 20px;
}

.hidden {
  display: none;
}
