/* Botão */
.btn-start {
  position: absolute;
  top: 65%;
  left: 50%;

  transform: translate(-50%, 0);

  background-color: #ffd700;
  color: black;
  border: none;
  padding: 15px 50px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;

  /* sombra */
  box-shadow: 0 5px 0 #b89b00;

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease; /* IMPORTANTE */
}

/* efeito clique */
.btn-start:active {
  transform: translate(-50%, 5px); /* mantém central + desce */
  box-shadow: 0 0 0 #b89b00;
}

/* hover */
.btn-start:hover {
  background-color: #ffcc00;
}
