body {
  height: 100vh;
  display: flex;
  justify-content: center;

  align-items: flex-start;
  padding-top: 100px;

  /* Fundo azul com gradiente */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
}

/* Logo */
.logo img {
  width: 700px;
  margin-bottom: 10px;
  max-width: 90%;
}
